.h-100vh {
    min-height: 100vh;
}

.pb-3rem {
    padding-bottom: 3rem;
}

.container {
    min-width: 100% !important;
    background-color: #aaaa7a;
}

.detail-one-container-one {
    background-color: #dff5db;
}

.detail-one-container-two {
    background-color: #c6dbc2;
}

.tab-text {
    text-indent: 40px; /* Adjust space like a tab */
}

.br-4 {
    border-radius: 4px;
}

.p-16 {
    padding: 16px;
}