.h-100vh {
    min-height: 100vh;
}

.card-img-top {
    object-fit: cover;
}

.pb-3rem {
    padding-bottom: 3rem;
}

.container {
    min-width: 100% !important;
    background-color: #c8eeee;
}

.detail-one-container-one {
    background-color: #496344;
    color: #fff;
}

.detail-one-container-two {
    background-color: #30452c;
    color: #fff;
}

.tab-text {
    text-indent: 40px; /* Adjust space like a tab */
}

.br-4 {
    border-radius: 4px;
}

.p-16 {
    padding: 16px;
}

.p-24 {
    padding: 24px;
}

.btn-color {
    background-color: #4D8585;
    color: #ffffff;
}

.pl-36 {
    padding-left: 16px;
}