<!-- <p (click)="playGame()" style="height: 100px; width: 100px;">mini-games works!</p> -->

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem; padding: 20px;">
                <img src="assets/image/color-game-pic.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Color Guessing Game</h5>
                    <p class="card-text">Test your RGB color knowledge in this fun guessing game!</p>
                    <a (click)="playGame()" class="btn btn-green">Go To Play </a>
                </div>
            </div>
        </div>
    </div>
</div>