<div class="container px-3 py-4 h-100 align-content-center border-bottom-green">
    <div class="row justify-content-center align-items-center min-vh-100">
        <!-- Left Column with Slide-In from Left -->
        <div class="col-sm-12 col-md-8 col-lg-6 text-center text-lg-start mb-3 mb-lg-0" [class.slide-in-left]="isActive">
            <article>
                <h4 class="mb-1">Hello! It's me</h4>
                <h1 class="mb-2">Hayman Lawon Htet</h1>
                <h3 class="mb-2">And I'm a <span class="fe-dev">Frontend Developer</span></h3>
                <p class="small">
                    Skilled in Angular, Ionic, TypeScript, JavaScript Frameworks and API integration, crafting dynamic, user-friendly applications with a focus on performance and security.
                </p>
                <div class="py-2 d-flex gap-4 justify-content-start">
                    <a href="https://discord.com/channels/@me/1317155967309451334">
                        <i class="fa-brands fa-discord"></i>
                    </a>
                    <a href="https://github.com/hmlwh07">
                        <i class="fa-brands fa-github"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/hayman-lawon-htet/">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                </div>
                <a href="assets/pdf/my_cv.pdf" download class="btn btn-color my-2">
                    Download CV
                </a>
            </article>
        </div>

        <!-- Right Column with Slide-In from Right -->
        <div class="col-sm-12 col-md-8 col-lg-6 py-4 d-flex align-items-center justify-content-center" [class.slide-in-right]="isActive">
            <div class="hexagon-frame img-container">
                <!-- <img [src]="imgUrl" alt="Profile"> -->
            </div>
        </div>
    </div>
</div>
