<div class="container outer-container">
    <div class="row">
        <div class="col">
            <div (click)="goBack()" class="container back-container">
                <img src="assets/image/wood-back-arrow.png" alt="">
            </div>
            <div id="button-game" class="container text-center btn-bg">
                <img src="../../assets/image/btn-bg.png" alt="" class="btn-img">
                <a (click)="chooseMode('easy')" style="cursor: pointer;">
                    <img src="../../assets/image/easy-btn.png" id="easy" class="easy" alt="" >
                </a>
                <a (click)="chooseMode('normal')" style="cursor: pointer;">
                    <img src="../../assets/image/normal-btn.png" id="normal" class="normal" alt="">
                </a>
                <a (click)="chooseMode('hard')" style="cursor: pointer;">
                    <img src="../../assets/image/hard-btn.png" id="hard" class="hard" alt="">
                </a>
                <a (click)="chooseMode('home')" style="cursor: pointer;">
                    <img src="../../assets/image/home-btn.png" id="back" class="home" alt="">
                </a>
            </div>            
        </div>
    </div>
</div>