.circle-frame {
    height: 16rem;
    width: 16rem;
    border-radius: 50%;
    border: 1px solid #ccc;
}

.creative-frame {
    width: 20rem;
}

.card {
    padding: 8px;
    background-color: #c8eeee;
    min-height: 240px;
    max-height: 336px;
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    img {
        height: 144px;
        object-fit: contain;
    }

    .card-text {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* Ensure at least 2 lines are visible */
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        line-height: 1.5; /* Adjust line height for better readability */
        max-height: calc(1.5em * 3); /* Ensures two lines are displayed */
    }

    opacity: 0;
    transform: translateX(50px);
    transition: all 0.5s ease-out;
}

.card:hover {
    border-color: #4D8585;
}

/* Slide-in from left animation */
@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        /* Start off-screen from the left */
        opacity: 0;
    }

    to {
        transform: translateX(0);
        /* End at the normal position */
        opacity: 1;
    }
}

/* Slide-in from right animation */
@keyframes slideInRight {
    from {
        transform: translateX(100%);
        /* Start off-screen from the right */
        opacity: 0;
    }

    to {
        transform: translateX(0);
        /* End at the normal position */
        opacity: 1;
    }
}

/* Apply the slide-in from right animation with sequential delays */
.slide-in-right {
    opacity: 1;
    transform: translateX(0);
}

/* Add sequential delays for each card */
.slide-in-right:nth-child(1) {
    animation-delay: 0.2s;
}

.slide-in-right:nth-child(2) {
    animation-delay: 0.4s;
}

.slide-in-right:nth-child(3) {
    animation-delay: 0.6s;
}

.slide-in-right:nth-child(4) {
    animation-delay: 0.8s;
}

.slide-in-right:nth-child(5) {
    animation-delay: 1s;
}

.slide-in-right:nth-child(6) {
    animation-delay: 1.2s;
}
