<div class="container px-3 py-5 h-100vh align-content-center border-bottom">
    <div class="row justify-content-center align-items-center min-vh-100">
        <div class="col-sm-12 col-md-8 col-lg-6 py-4 d-flex align-items-center justify-content-center mb-4 mb-lg-0">
            <div>
                <img class="creative-frame" src="../../assets/gif/creative.gif" alt="Profile">
            </div>
        </div>
        <div class="col-sm-12 col-md-8 col-lg-6 align-content-center slide-in-right">
            <article>
                <h4>About Me</h4>
                <h3>Web & Mobile Developer</h3>
                <p>
                    Passionate and detail-oriented, with a strong background in building responsive and scalable solutions. Proficient in modern JavaScript frameworks, with expertise in secure data management, UI/UX design, and performance optimization.
                </p>
                <p>
                    Experienced in collaborating with cross-functional teams to develop, test, and deploy efficient applications that enhance user engagement and business growth. Dedicated to continuous learning and innovation, staying updated with the latest technologies and best practices in web and mobile development. Always eager to explore new tools, improve development workflows, and create impactful digital solutions.
                </p>
            </article>
        </div>
    </div>
</div>