<div class="container px-3 py-5 h-100vh align-content-center">
    <div class="row justify-content-center align-items-center min-vh-100">
        @for (project of projects; track $index) {
        <div class="col-sm-12 col-md-6 col-lg-4 py-4 d-flex align-items-center justify-content-center mb-4 mb-lg-0"
            >
            <div [class.slide-in-right]="isActive" class="card" (click)="goToProjectDetail(project)">
                <img src="{{project.image}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{project.title}}</h5>
                    <p style="color: #463939;" class="card-text">{{project.description}}</p>
                    <div class="d-flex flex-column align-items-end">
                        <a style="color: #4D8585; font-size: 24px;" class="btn">
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
    </div>
</div>