<div class="container px-3 py-5 h-100 align-content-center">
    <div class="row justify-content-center align-items-center min-vh-100">
        <div class="col-sm-12 col-md-8 col-lg-6 py-4 d-flex align-items-center justify-content-center mb-4 mb-lg-0" [class.slide-in-left]="isActive">
            <img style="width: 20rem;" src="../../assets/images/send_mails.png" alt="Profile">
        </div>
        <div class="col-sm-12 col-md-8 col-lg-6 align-content-center" [class.slide-in-right]="isActive">
            <article class="d-flex flex-row justify-content-center">
                <ul>
                    <li (click)="copyText('emailText')" class="d-flex align-items-center gap-1rem">
                        <i class="fa-solid fa-envelope"></i>
                        {{'hmlwh.dev@gmail.com'}}</li>
                    <li (click)="copyText('phoneText')" class="d-flex align-items-center gap-1rem">
                        <i class="fa-solid fa-phone"></i>
                        09-762903975</li>
                    <li class="d-flex align-items-center gap-1rem">
                        <i class="fa-brands fa-linkedin"></i>
                        <a href="https://www.linkedin.com/in/hayman-lawon-htet/">https://www.linkedin.com/in/hayman-lawon-htet/</a>
                    </li>
                    <li class="d-flex align-items-center gap-1rem">
                        <i class="fa-brands fa-github"></i>
                        <a href="https://github.com/hmlwh07">https://github.com/hmlwh07</a>
                    </li>
                </ul>
                <p id="feedback"></p>
            </article>
        </div>
    </div>
</div>