article {
    align-content: center;
}

.hexagon-frame {
    width: 16rem;
    height: 16rem;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    background-color: #f4f4f4;
    overflow: hidden;
}

.hexagon-frame img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: #000000;
}

ul, li {
    list-style-type: none;
}

.gap-1rem {
    gap: 1rem;
}

#feedback {
    margin-top: 10px;
    color: green;
}

li:hover {
    color: #4D8585;
}