<div class="container px-3 py-5 h-100 align-content-center border-bottom-green">
    <div class="row justify-content-center align-items-center min-vh-100">
        <div class="col-sm-12 col-md-8 col-lg-6 align-content-center mb-4 mb-lg-0">
            <article class="d-flex flex-row justify-content-center">
                <ul [class.active]="isActive" class="list-unstyled text-center text-lg-start skills-container">
                    <li class="skill">Problem Solving</li>
                    <li class="skill">Public Relations</li>
                    <li class="skill">Teamwork</li>
                    <li class="skill">Time Management</li>
                </ul>
            </article>
        </div>
        <div class="col-sm-12 col-md-8 col-lg-6 py-4 d-flex align-items-center justify-content-center">
            <div class="hexagon-frame skill-img">
                <!-- <img src="../../assets/images/my_pf.jpeg" alt="Profile"> -->
            </div>
        </div>
    </div>
</div>