<div class="container px-3 py-5 h-100 align-content-center">
    <div class="row justify-content-center align-items-center min-vh-100">
        <div class="col-sm-12 col-md-8 col-lg-6 align-content-center mb-4 mb-lg-0">
            <article class="justify-content-center">
                <h4 style="color: #05837c;">Technical Skills</h4>
                <ul [class.active]="isActive" class="justify-content-center text-center text-lg-start skills-container">
                    <li class="skill">Angular</li>
                    <li class="skill">Ionic</li>
                    <li class="skill">JavaScript</li>
                    <li class="skill">TypeScript</li>
                    <li class="skill">Html</li>
                    <li class="skill">CSS</li>
                </ul>
                <h4 style="color: #05837c;">Soft Skills</h4>
                <ul [class.active]="isActive" class="justify-content-center text-center text-lg-start skills-container">
                    <li class="skill">Problem Solving</li>
                    <li class="skill">Public Relations</li>
                    <li class="skill">Teamwork</li>
                    <li class="skill">Time Management</li>
                    <li class="skill">First Learner</li>
                    <li class="skill">Creativity</li>
                </ul>
            </article>
        </div>
        <div class="col-sm-12 col-md-8 col-lg-6 py-4 d-flex align-items-center justify-content-center">
            <div class="hexagon-frame skill-img">
                <!-- <img src="../../assets/images/my_pf.jpeg" alt="Profile"> -->
            </div>
        </div>
    </div>
</div>