<div class="container" id="play-game">
    <img src="../../../assets/image/color-background.png" alt="Background Image" class="background-image" id="quesBG" />
    <div class="question-overlay">
        {{ showColor }}
    </div>
</div>
<!-- <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="../../../assets/image/congratulations-6341.gif" alt="">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div> -->

<div class="container">
    <div class="colorRow" *ngFor="let color of randomColors;" [style.background]="color"
        (click)="checkIfCorrect(color, $event)">
    </div>
</div>

<div *ngIf="colorMatch === true" id="congratulations-message">
    <img src="../../../assets/image/congratulations-6341.gif" alt="">
    <div class="row">
        <div class="col">
            <button routerLink="/home" class="btn btn-danger" type="submit">Home</button>
            <button routerLink="/game-view" class="btn btn-warning mx-3" type="submit">Choose Levels</button>
            <button class="btn btn-success" type="submit" (click)="gameStart()">Next</button>
        </div>
    </div>
</div>

<div *ngIf="colorMatch === false" class="container" id="message-box">
    <div id="try-again-message">
        <img src="../../../assets/image/tryagain (1).png" alt="" style="height: 80px;">
    </div>
</div>